# Data Stratification

In [133]:
#Importing libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [139]:
#Importing dataset
genes=np.load("genes_qnorm_v11_clean_noutliers_nosecret.npy",allow_pickle=True)
samples=np.load("samples_qnorm_v11_clean_noutliers_nosecret.npy",allow_pickle=True)
X=np.load("results_qnorm_v11_clean_noutliers_nosecret.npy",allow_pickle=True)
results=pd.DataFrame(X,index=genes,columns=samples)

In [140]:
results.head()

,GSM741172,GSM741170,GSM741171,GSM907015,GSM1193921,GSM1098188,GSM1193928,GSM1048186,GSM1216828,GSM1241249,...,GSM5572862,GSM5577332,GSM5577333,GSM5577334,GSM5577335,GSM5577336,GSM5577337,GSM5580099,GSM5580100,GSM5580102
A1CF,0,0,0,0,0,0,0,0,8,0,...,0,0,0,0,0,0,0,0,0,0
A3GALT2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A4GALT,23,23,23,1,8,22,11,3,0,0,...,19,1,2,2,2,1,2,0,0,0
A4GNT,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AAAS,39,38,37,21,17,30,15,29,22,24,...,44,74,63,61,88,96,93,34,40,25

In [141]:
results.shape

(18952, 62571)

In [136]:
#Importing secretome list
secretome=np.load("secretome_included_V11.npy",allow_pickle=True).tolist()

In [142]:
#Removing secretome genes from dataset
results.drop(labels=secretome,axis=0,inplace=True)

In [138]:
results.head()

,GSM741172,GSM741170,GSM741171,GSM907015,GSM1193921,GSM1098188,GSM1193928,GSM1048186,GSM1216828,GSM1241249,...,GSM5572862,GSM5577332,GSM5577333,GSM5577334,GSM5577335,GSM5577336,GSM5577337,GSM5580099,GSM5580100,GSM5580102
A1CF,0,0,0,0,0,0,0,0,8,0,...,0,0,0,0,0,0,0,0,0,0
A3GALT2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A4GALT,23,23,23,1,8,22,11,3,0,0,...,19,1,2,2,2,1,2,0,0,0
A4GNT,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AAAS,39,38,37,21,17,30,15,29,22,24,...,44,74,63,61,88,96,93,34,40,25

In [143]:
results.shape

(18952, 62571)

In [144]:
#Importing secretory index table
si=pd.read_csv("si_V11_TPM_noutliers.csv",index_col=0)
si.drop(columns="cell_type",inplace=True)
si.columns=["secreted"]

In [145]:
results.head()

,GSM741172,GSM741170,GSM741171,GSM907015,GSM1193921,GSM1098188,GSM1193928,GSM1048186,GSM1216828,GSM1241249,...,GSM5572862,GSM5577332,GSM5577333,GSM5577334,GSM5577335,GSM5577336,GSM5577337,GSM5580099,GSM5580100,GSM5580102
A1CF,0,0,0,0,0,0,0,0,8,0,...,0,0,0,0,0,0,0,0,0,0
A3GALT2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A4GALT,23,23,23,1,8,22,11,3,0,0,...,19,1,2,2,2,1,2,0,0,0
A4GNT,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AAAS,39,38,37,21,17,30,15,29,22,24,...,44,74,63,61,88,96,93,34,40,25

In [146]:
results.shape

(18952, 62571)

In [147]:
si.shape

(62571, 1)

In [148]:
si.head()

            secreted
GSM741172        451
GSM741170        458
GSM741171        486
GSM907015       1470
GSM1193921       280

In [149]:
si=si.loc[results.columns]

In [150]:
si.shape

(62571, 1)

In [151]:
###### SKIP IF WHOLE DATASET IS TO BE USED #############
#Select percentage of dataset to use (top and lowest samples in terms of SI).
top_percent=int(np.round(results.shape[1]*0.50))
low_percent=int(np.round(results.shape[1]*0.50))

keep_top=list(si.sort_values(by="secreted",ascending=False).index[0:top_percent])
keep_bottom=list(si.sort_values(by="secreted",ascending=False).index[-low_percent:])
keep=keep_top+keep_bottom

In [17]:
####### USE ONLY WHEN PARTIAL DATASET IS TO BE USED (SEE ABOVE) ###############
results=results.copy().T.loc[keep]
secreted_sum=si.copy().loc[keep]

In [152]:
######### USE ONLY IF FULL DATASET IS USED ############
results=results.copy().T
secreted_sum=si.copy()

In [153]:
results.shape

(62571, 18952)

In [154]:
secreted_sum.shape

(62571, 1)

In [155]:
# Import sample types for stratification (this file includes samples removed after pre-processing)
sample_types=pd.read_csv("samples_types_tpm.csv")

In [156]:
samples.shape

(62571,)

In [157]:
sample_types.drop(labels="index",axis=1,inplace=True)
sample_types.set_index("geo_id",inplace=True,drop=False)
sample_types.head()

                geo_id      type
geo_id
GSM2132128  GSM2132128  Podocyte
GSM2132132  GSM2132132  Podocyte
GSM2132130  GSM2132130  Podocyte
GSM2132129  GSM2132129  Podocyte
GSM2132133  GSM2132133  Podocyte

In [158]:
sample_types.shape

(71961, 2)

In [159]:
results.shape

(62571, 18952)

In [160]:
#Select only sample types of processed dataset
sample_types=sample_types.loc[results.index.values]
sample_types.shape

(62571, 2)

In [26]:
##### only when using partial dataset
sample_types=sample_types.loc[keep]

In [161]:
sample_types.shape

(62571, 2)

In [162]:
results.shape

(62571, 18952)

In [163]:
### Counting number of samples per cell type
n_samples=sample_types.groupby("type").count()
n_samples.columns=["count"]
n_samples.sort_values(by="count")

                  count
type
Thymocyte             9
NCIH460              14
JEG3                 19
MG63                 20
Alpha Cell           23
...                 ...
HEK293             3251
MCF7               3384
Neuron             4475
Fibroblast         8005
Pancreatic Islet  10410

[78 rows x 1 columns]

In [164]:
sample_types[sample_types.type=="Granulosa"].index.values

array(['GSM1131197', 'GSM1131193', 'GSM1131192', 'GSM1131195',
       'GSM1215102', 'GSM1215105', 'GSM1131194', 'GSM1215104',
       'GSM1215106', 'GSM1131196', 'GSM1215103', 'GSM1519571',
       'GSM1519563', 'GSM1519568', 'GSM1519566', 'GSM1519562',
       'GSM1519560', 'GSM1519567', 'GSM1519570', 'GSM1519564',
       'GSM1519565', 'GSM1519561', 'GSM1519569', 'GSM2877888',
       'GSM2877889', 'GSM2877890', 'GSM2877892', 'GSM2877893',
       'GSM2877895', 'GSM2877896', 'GSM2877897', 'GSM2877898',
       'GSM2877899', 'GSM2877900', 'GSM2877901', 'GSM2877902',
       'GSM2877903', 'GSM2877904', 'GSM2877905', 'GSM2877906',
       'GSM2877907', 'GSM2877908', 'GSM2877909', 'GSM2877910',
       'GSM2877911', 'GSM2877912', 'GSM2877913', 'GSM2877914',
       'GSM2877915', 'GSM2877916', 'GSM2877917', 'GSM2877918',
       'GSM2877919', 'GSM2877920', 'GSM2877921', 'GSM2877922',
       'GSM2877923', 'GSM2877924', 'GSM2877925', 'GSM2877926',
       'GSM2877927', 'GSM2877928', 'GSM2877929', 'GSM2877930',
       'GSM2877931', 'GSM2877932', 'GSM2877933', 'GSM2877934',
       'GSM2877935', 'GSM2877936', 'GSM2877937', 'GSM2877938',
       'GSM2877939', 'GSM2877940', 'GSM2877949', 'GSM2877950',
       'GSM2877951', 'GSM2877953', 'GSM2877954', 'GSM2877955',
       'GSM2877956', 'GSM2877957', 'GSM2877958', 'GSM3560280',
       'GSM3560281', 'GSM4162514', 'GSM4162515', 'GSM4162516',
       'GSM4162517', 'GSM4162518', 'GSM4162519', 'GSM4162520',
       'GSM4162521', 'GSM4162522', 'GSM4162523', 'GSM4162524',
       'GSM4162525', 'GSM4905064', 'GSM4905065', 'GSM4905066',
       'GSM5071253', 'GSM5071254', 'GSM5071255', 'GSM5071256',
       'GSM5071257', 'GSM5071258', 'GSM5071259', 'GSM5071260',
       'GSM5134106', 'GSM5134108', 'GSM5134110', 'GSM5134111'],
      dtype=object)

In [165]:
sample_types

                geo_id        type
geo_id
GSM741172    GSM741172        HELA
GSM741170    GSM741170        HELA
GSM741171    GSM741171        HELA
GSM907015    GSM907015  Macrophage
GSM1193921  GSM1193921    MDAMB231
...                ...         ...
GSM5577336  GSM5577336       HUVEC
GSM5577337  GSM5577337       HUVEC
GSM5580099  GSM5580099  Macrophage
GSM5580100  GSM5580100  Macrophage
GSM5580102  GSM5580102  Macrophage

[62571 rows x 2 columns]

In [166]:
n_samples[n_samples["count"]==1].index.values

array([], dtype=object)

In [167]:
drop_samples=[]
for sample in n_samples[n_samples["count"]==1].index.values:
    drop_samples.extend(sample_types[sample_types.type==sample].index.values)

In [168]:
drop_samples

[]

In [169]:
X=results.copy()

In [170]:
y=secreted_sum.copy()

In [171]:
X.shape

(62571, 18952)

In [172]:
y.shape

(62571, 1)

In [173]:
if len(drop_samples)>0:
    X.drop(index=drop_samples,inplace=True)
    y.drop(index=drop_samples,inplace=True)

In [174]:
print("X_in shape: %s"%(str(X.shape)))
print("y_in shape: %s"%(str(y.shape)))

X_in shape: (62571, 18952)
y_in shape: (62571, 1)

In [175]:
selected_samples=sample_types.loc[X.index.values]

In [176]:
X_in, X_out, y_in, y_out=train_test_split(X,y,test_size=0.2,random_state=0,stratify=selected_samples.type)

In [177]:
X_in.shape

(50056, 18952)

In [178]:
X_out.shape

(12515, 18952)

In [179]:
selected_samples=sample_types.loc[X_in.index.values]

In [180]:
selected_samples.head()

                geo_id              type
geo_id
GSM3545074  GSM3545074  Pancreatic Islet
GSM4749746  GSM4749746            HEK293
GSM4586052  GSM4586052            JURKAT
GSM4213523  GSM4213523              A549
GSM1401372  GSM1401372        Osteoblast

In [181]:
selected_samples.shape

(50056, 2)

In [182]:
n_samples=selected_samples.groupby("type").count()
n_samples.columns=["count"]
n_samples.sort_values(by="count")

                  count
type
Thymocyte             7
NCIH460              11
JEG3                 15
MG63                 16
Alpha Cell           19
...                 ...
HEK293             2601
MCF7               2707
Neuron             3580
Fibroblast         6404
Pancreatic Islet   8328

[78 rows x 1 columns]

In [183]:
n_samples[n_samples["count"]==1].index.values

array([], dtype=object)

In [184]:
drop_samples=[]
for sample in n_samples[n_samples["count"]==1].index.values:
    drop_samples.extend(selected_samples[selected_samples.type==sample].index.values)

In [185]:
drop_samples

[]

In [186]:
X_in.shape

(50056, 18952)

In [187]:
if len(drop_samples)>0:
    X_in.drop(index=drop_samples,inplace=True)
    y_in.drop(index=drop_samples,inplace=True)

In [188]:
print("X_in shape: %s"%(str(X_in.shape)))
print("y_in shape: %s"%(str(y_in.shape)))

X_in shape: (50056, 18952)
y_in shape: (50056, 1)

In [189]:
X_train, X_test, y_train, y_test=train_test_split(X_in,y_in,test_size=0.5,random_state=1,stratify=selected_samples.type)

In [190]:
print("X_train shape: %s"%(str(X_train.shape)))
print("y_train shape: %s"%(str(y_train.shape)))
print("X_test shape: %s"%(str(X_test.shape)))
print("y_test shape: %s"%(str(y_test.shape)))

X_train shape: (25028, 18952)
y_train shape: (25028, 1)
X_test shape: (25028, 18952)
y_test shape: (25028, 1)

In [191]:
np.save("./datasets/genes_clean_v11_train_qnorm_100_nos",X_train.columns.values)
np.save("./datasets/samples_clean_v11_train_qnorm_100_nos",X_train.index.values)
np.save("./datasets/results_clean_v11_X_train_qnorm_100_nos", X_train.values)
np.save("./datasets/results_clean_v11_y_train_qnorm_100_nos", y_train.values)

In [192]:
np.save("./datasets/genes_clean_v11_test_qnorm_100_nos",X_test.columns.values)
np.save("./datasets/samples_clean_v11_test_qnorm_100_nos",X_test.index.values)
np.save("./datasets/results_clean_v11_X_test_qnorm_100_nos", X_test.values)
np.save("./datasets/results_clean_v11_y_test_qnorm_100_nos", y_test.values)

In [193]:
np.save("./datasets/genes_clean_v11_out_qnorm_100_nos",X_out.columns.values)
np.save("./datasets/samples_clean_v11_out_qnorm_100_nos",X_out.index.values)
np.save("./datasets/results_clean_v11_out_qnorm_100_nos", X_out.values)
np.save("./datasets/results_clean_v11_yout_qnorm_100_nos", y_out.values)

In [194]:
genes=np.load("genes_qnorm_v11_clean_noutliers_nosecret.npy",allow_pickle=True)
samples=np.load("samples_qnorm_v11_clean_noutliers_nosecret.npy",allow_pickle=True)
X=np.load("results_qnorm_v11_clean_noutliers_nosecret.npy",allow_pickle=True)
results=pd.DataFrame(X,index=genes,columns=samples)

In [ ]:
from scipy.stats import spearmanr
corr_results=[]
for (index,row) in subset_secretory.T.iterrows():
    cval=spearmanr((si.secreted.values+1),(row.values+1))
    corr_results.append(cval)

In [ ]:
corr_df=pd.DataFrame(corr_results)
corr_df.index=subset_secretory.columns.values
corr_df.columns=["spearman","pval"]

In [92]:
dataset_file=np.load("./datasets/results_clean_v10_out_tpm_20.npy",allow_pickle=True)
genes=np.load("./datasets/genes_clean_v10_out_tpm_20.npy",allow_pickle=True)
samples=np.load("./datasets/samples_clean_v10_out_tpm_20.npy",allow_pickle=True)

X_out=pd.DataFrame(dataset_file,index=samples,columns=genes)

In [93]:
X_out

,A1CF,A3GALT2,A4GALT,A4GNT,AAAS,AACS,AADAC,AADACL3,AADACL4,AADAT,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
GSM2158920,19.439800,0.000000,0.000000,0.000000,3.846130,11.260251,0.645464,0.0,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,2.557630,1.679580,0.000000,272.306641,92.155090
GSM1631494,0.166142,0.215129,1.351443,0.075909,96.477875,19.965361,0.000000,0.0,0.043294,25.086010,...,58.663837,218.287598,2.38937,7.172050,31.910250,11.787792,17.410915,45.045559,20.287897,71.497681
GSM2154425,0.000000,0.000000,0.000000,0.000000,5.190340,35.188431,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.542605,21.453501,0.000000,35.743801,0.000000
GSM2574605,179.622711,0.000000,0.000000,0.000000,62.163139,75.295403,0.000000,0.0,0.000000,0.943416,...,1.090153,0.000000,0.00000,0.315082,0.000000,0.000000,16.049129,0.000000,9.144324,499.279053
GSM2154096,0.000000,0.000000,0.000000,0.000000,11.141200,24.880426,0.000000,0.0,0.000000,5.131199,...,246.554733,165.219574,0.00000,0.000000,0.000000,3.097280,6.443410,116.758400,1.625126,36.091789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GSM1585236,0.055114,0.000000,0.630710,0.000000,49.172337,30.128473,0.224386,0.0,0.000000,4.285915,...,78.729507,86.998085,2.22654,3.776230,19.779474,8.674609,24.597490,23.551407,21.692587,58.198353
GSM4477395,136.553223,0.000000,0.000000,0.000000,38.222187,123.713776,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,2.753640,0.208330,0.000000,5.298901,296.105499
GSM2154427,0.000000,0.000000,0.000000,0.000000,0.000000,11.355700,0.000000,0.0,0.000000,0.000000,...,10.518980,1.218190,0.00000,0.000000,0.000000,0.453258,4.614790,0.000000,1.213870,20.786400
GSM1528620,0.088469,0.066329,21.939816,0.000000,35.746002,16.949837,0.000000,0.0,0.000000,7.544860,...,41.123173,72.612282,1.72787,4.016170,7.136343,0.311345,20.283871,327.580444,13.371572,29.449060
GSM3035210,0.000000,0.000000,0.000000,0.000000,15.209331,6.897060,0.000000,0.0,0.000000,7.475245,...,22.818331,24.085602,0.00000,0.533101,1.400983,0.140101,4.749630,1.470090,0.354590,18.273825

In [83]:
y_out=np.load("datasets/results_clean_v10_yout_tpm_50.npy",allow_pickle=True)

In [90]:
y_out.T[0]

array([ 43661, 498245, 232180, ...,  70765,  42574,  45042])

In [146]:
from random import choices
n_samps=20
samples=np.load("samples_qnorm_clean_v7_train_01.npy",allow_pickle=True)
samples=choices(samples,k=int(n_samps))

In [147]:
samples

['GSM2343127',
 'GSM2691360',
 'GSM2072364',
 'GSM1838577',
 'GSM1602255',
 'GSM2138888',
 'GSM1646683',
 'GSM2050828',
 'GSM2574647',
 'GSM1958508',
 'GSM3032922',
 'GSM2344183',
 'GSM2458800',
 'GSM1333397',
 'GSM2343494',
 'GSM897081',
 'GSM2343517',
 'GSM2343799',
 'GSM1978810',
 'GSM2794425']

In [71]:
dataset_file=np.load("results_qnorm_clean_v7_X_train.npy",allow_pickle=True)
genes=np.load("genes_qnorm_clean_v7_train.npy",allow_pickle=True)
samples=np.load("samples_qnorm_clean_v7_train.npy",allow_pickle=True)

X_train=pd.DataFrame(dataset_file,index=samples,columns=genes)
y_train=np.load("results_qnorm_clean_v7_y_train.npy",allow_pickle=True)

In [72]:
X_train.head()

,A1CF,A3GALT2,A4GALT,A4GNT,AAAS,AACS,AADAC,AADACL3,AADACL4,AADAT,...,BP-21201H5.1,BP-21264C1.1,BP-2168N6.1,BP-2168N6.3,BP-2171C21.2,BP-2171C21.4,BP-2171C21.5,BP-2171C21.6,BP-2189O9.2,YR211F11.2
GSM1665961,26,0,0,0,839,1099,4,0,0,1332,...,0,333,0,0,4,0,0,0,52,0
GSM1382450,12,0,31,0,1444,1313,3,0,0,741,...,6,28,0,0,0,8,0,0,124,0
GSM2175057,26,0,0,0,2151,594,0,0,0,110,...,48,132,0,0,6,0,0,110,859,0
GSM3021856,5,0,0,0,947,611,0,0,0,1087,...,0,100,0,0,10,0,0,0,24,0
GSM2392612,7,0,483,1,1399,2151,24,2,0,165,...,21,62,0,0,1,0,1,5,64,0

In [73]:
X_train.shape

(2286, 25420)

In [76]:
y_train.shape

(2286, 1)

In [79]:
dataset_file=np.load("results_qnorm_clean_v7_X_test.npy",allow_pickle=True)
genes=np.load("genes_qnorm_clean_v7_test.npy",allow_pickle=True)
samples=np.load("samples_qnorm_clean_v7_test.npy",allow_pickle=True)

X_test=pd.DataFrame(dataset_file,index=samples,columns=genes)
y_test=np.load("results_qnorm_clean_v7_y_test.npy",allow_pickle=True)

In [80]:
X_test.head()

,A1CF,A3GALT2,A4GALT,A4GNT,AAAS,AACS,AADAC,AADACL3,AADACL4,AADAT,...,BP-21201H5.1,BP-21264C1.1,BP-2168N6.1,BP-2168N6.3,BP-2171C21.2,BP-2171C21.4,BP-2171C21.5,BP-2171C21.6,BP-2189O9.2,YR211F11.2
GSM1333407,6,0,537,39,893,903,0,1,0,273,...,26,50,0,0,0,0,5,15,28,0
GSM2026968,8,0,57,0,1789,588,0,0,2,238,...,4,20,0,0,0,13,0,9,15,0
GSM2685866,1307,0,138,7,805,772,196,0,0,1554,...,12,735,7,0,0,7,0,0,48,0
GSM2277146,712,0,89,3,2051,2317,0,1,0,2485,...,54,98,0,0,0,34,0,24,142,0
GSM2138748,5718,1,13,0,1257,2265,113,3,0,396,...,34,2082,0,0,1,0,1,7,12,0

In [81]:
X_test.shape

(2286, 25420)

In [82]:
y_test.shape

(2286, 1)

In [101]:
dataset_file.shape

(1144, 25420)

In [102]:
genes.shape

(25420,)

In [103]:
samples.shape

(1144,)

In [104]:
results=pd.DataFrame(dataset_file,index=samples,columns=genes)

In [105]:
results.head()

,A1CF,A3GALT2,A4GALT,A4GNT,AAAS,AACS,AADAC,AADACL3,AADACL4,AADAT,...,BP-21201H5.1,BP-21264C1.1,BP-2168N6.1,BP-2168N6.3,BP-2171C21.2,BP-2171C21.4,BP-2171C21.5,BP-2171C21.6,BP-2189O9.2,YR211F11.2
GSM3032921,8,0,1086,0,770,2783,35,0,0,247,...,60,37,0,0,0,0,0,8,4,0
GSM1657147,7942,0,190,0,691,1434,662,0,0,490,...,0,10,0,0,0,0,0,1,1,0
GSM2667643,4,0,482,0,1493,803,0,0,0,283,...,129,4,0,0,0,8,0,0,12,0
GSM2550462,5,3,554,8,1451,764,17,0,0,448,...,35,11,0,0,0,0,0,5,0,0
GSM1647047,0,0,1706,0,703,794,0,0,0,0,...,74,0,0,0,0,0,0,21,0,0

In [91]:
"RP11-146N23.1" in genes

False

In [92]:
genes

array(['GSM3032921', 'GSM1657147', 'GSM2667643', ..., 'GSM2138837',
       'GSM2011508', 'GSM2041392'], dtype=object)

In [85]:
y=np.load("results_dseq2_clean_v7_clean_yout.npy",allow_pickle=True)

In [87]:
y.shape

(1144, 1)